.container {
    position: relative;
  }
  .video {
    /* max-width: 100%; */
    width:1000px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .canvas {
    position: absolute;
    width:1000px;
    height: 600px;
    /* background-color:rgba(70, 40, 151, 0.2); */
    cursor: crosshair;
  }
  .video-controls{
    position: absolute;
    height: auto;
  }
  button{
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    font-weight: bold;
    border: 1px solid rgb(23, 40, 199); 
    background-color: rgba(0,0,0,0); 
    color: black; 
    padding: 8px;
    margin: 5px;


  }
  button:hover{
    font-weight: bold;
    border: 1px solid rgb(23, 40, 199); 
    background-color: rgba(23, 41, 199, 0.616); 
    color: white; 
    padding: 8px;
  }

  button:disabled{
    font-weight: bold;
      pointer-events: none;
      color:rgba(0, 0, 0, 0.479);
  }

  #readout{
    position: fixed;
  }

  #table{
    position:absolute;
    margin-top: 750px;
  }
