.container {
    margin: 0 auto;
    position: relative;
  }
  
  .video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:rgba(70, 40, 151, 0.5);
  }
  .video-controls{
    position: absolute;
  }

  #readout{
    position: absolute;
  }

  #table{
    position:fixed;
    margin-top: 1050px;
  }