.container {
    position: relative;
  }
  .video {
    /* max-width: 100%; */
    width:1000px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .canvas {
    position: absolute;
    width:1000px;
    height: 600px;
    background-color:rgba(70, 40, 151, 0.2);
  }
  .video-controls{
    position: absolute;
    height: auto;
  }
  button{
    font-size: 15px;
    padding:5px;
    border-radius: 5px;
    margin: 3px;
  }
  button:hover{
    background:rebeccapurple;
    color:white;
    border-radius: 5px;
  }

  #readout{
    position: fixed;
  }

  #table{
    position:absolute;
    margin-top: 850px;
  }
