.container {
    margin: 0 auto;
    position: relative;
  }
  
  .video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:rgba(70, 40, 151, 0.2);
  }
  .video-controls{
    position: absolute;
  }
  button{
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
  }
  button:hover{
    background:rebeccapurple;
    border-color: whitesmoke;
    color:white;
    border-radius: 5px;
  }

  input[type=range]{
    color: rebeccapurple;
  }

  #readout{
    position: fixed;
  }

  #table{
    position:fixed;
    margin-top: 900px;
  }